$hl: #17a6b5

.CodeMirror-code
  .cm
    &-header
      font-weight: bold
      display: inline-block
      padding: 2px 0

      &::before
        position: absolute
        opacity: 1
        color: $hl
        // text-shadow: 0 0 2px 

      &-1
        font-size: 2.2em
      &-2
        font-size: 1.8em
      &-3
        font-size: 1.5em
      &-4
        font-size: 1.3em
      &-5
        font-size: 1.1em
      &-6
        font-size: 0.9em

    &-strikethrough
      &.cm-formatting
        text-decoration: none

    &-formatting
      &-code-block
        padding: 9px 0 4px
        display: inline-block

      &-header
        color: $hl
        opacity: 0.7

      &-list
        color: transparent
        padding-left: 15px

        &-ul
          &::before
            color: $hl
            content: '•'
            position: absolute
            top: 10%
      
      &-quote
        color: rgba($hl, .5)
        letter-spacing: 0.03em
        font-weight: normal

        &-1
          border-left: 2px solid $hl
          padding-left: 4px
