.CodeMirror-code
  .cm
    &-header
      font-weight: bold
      display: inline-block
      padding: 5px 0

      &::before
        position: absolute
        opacity: 1
        color: #17a6b5
        // text-shadow: 0 0 2px 

      &-1
        font-size: 2em
        &::before
          content: '#'
      &-2
        font-size: 1.6em
        &::before
          content: '##'
      &-3
        font-size: 1.4em
        &::before
          content: '###'
      &-4
        font-size: 1.2em
        &::before
          content: '####'
      &-5
        font-size: 1em
        &::before
          content: '#####'
      &-6
        font-size: 0.9em
        &::before
          top: 18%
          content: '######'

    &-comment
      padding: 5px 0
      display: inline-block