@import '~codemirror/lib/codemirror.css'

$e_l: 300px

$tb_bg: transparent
$tb_c: #fff
$tb_fs: 14px

.editor_wrap
  position: absolute
  left: $e_l
  top: 0
  right: 0
  bottom: 0

  .markdown-editor
    height: 100%
    
  .CodeMirror
    height: calc(100% - 80px)
    box-shadow: 0 0 60px rgba(0,0,0,.4)
    top: 60px
    min-height: 0
    box-sizing: border-box
    padding: 0
    border-radius: 10px 0 0 10px
    border: 0
    cursor: text

    &-scroll
      // padding: 10px 15px
      // height: calc(100% - 20px)
      // padding-top: 20px
    
    &-sizer
      padding: 0 25px
      // padding-bottom: 10px !important

    &-lines
      // margin: 20px 0

    // code style fix
    &-code
      // padding-bottom: 20px
      margin: 15px 0
      backface-visibility: hidden
      .cm
        &-strikethrough
          &.cm-formatting
            text-decoration: none

    // &-sided
      // width: 50% !important
  
  // .editor-toolbar
  //   border-radius: 0
  //   border: 0
  //   background: $tb_bg
  //   margin-left: 10px
  //   a
  //     &::before,
  //       color: $tb_c
  //       font-size: $tb_fs
  //     &::after
  //       color: $tb_c
  //       opacity: 0.7

  // .editor-statusbar
  //   color: white
  
  // .editor-preview-side
  //   top: 49px
  //   right: 0
  //   bottom: 31px
  //   width: 50%
  //   position: absolute
  //   border: 0
  //   background: #eee