@import '~simplemde-theme-base/dist/simplemde-theme-base.min.css'

.editor_wrap
  position: absolute
  left: 120px
  top: 40px
  right: 40px
  bottom: 40px

  .markdown-editor
    height: 100%
    
  .CodeMirror
    height: calc(100% - 113px)
    min-height: 0
    box-sizing: border-box

    // &-sided
      // width: 50% !important
  
  .editor-statusbar
    color: white
  
  .editor-preview-side
    top: 50px
    right: 0
    bottom: 63px
    width: 50%
    position: absolute